.home h1 { text-align: center; }
.home .hero {
	background-image: url(/_desktop/img/friends_bg.jpg);
	padding: 70px 0;
	text-align: center;
}
.home .hero .buddybeeper    { display: inline-block; margin-bottom: 80px; }
.home .hero .buddybeeper h1 { font-size: 3em; margin-bottom: 0px; }
.home .hero .buddybeeper h2 { margin-top: 0; }
.home .hero .join 			{ text-align: center; }
.home .hero .join .button 	{ padding: 20px !important; }

.home .signup .signup-form     { margin: 10px; }
.home .signup .input { margin: 3px; }
.home .login .login-form     { margin: 10px; }
.home .login .input { margin: 3px; }
.home .infobox { width: 100%; display: table; }
.home .infobox .text,
.home .infobox .signup-form { display: table-cell; width: 50%; padding: 10px; }
.home .infobox input { width: 100%; }
.home .infobox button { padding: 10px; min-width: 200px; }