.user.pagelet .profile { display: table-row; }
.user.pagelet .picture,
.user.pagelet .text { display: table-cell;  vertical-align: middle; }
.user.pagelet .text { font-weight: lighter; font-size: 0.8em; }
.user.pagelet .image {
 	overflow: hidden;
	margin: 10px;
	height: 60px;
	width: 60px;
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.50), 0px -1px 1px 0px rgba(255,255,255,0.36);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), 0px -1px 1px 0px rgba(255,255,255,0.36);
	box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.50), 0px -1px 1px 0px rgba(255,255,255,0.36);	
}
	.user.pagelet .image form { 
		cursor: pointer;
		background: 15px 18px no-repeat url(/_desktop/img/camera.png); 
		background-color: rgba(0, 0, 0, 0.4);
	}
	.user.pagelet .image input[type="file"] {
		cursor: pointer;
		font-size: 52px;
		margin: 0;
		padding: 0;
		opacity: 0;
		border: none;
		outline: none;
	}

.user.pagelet .menu { border-top: 1px solid #eee; }

.sidebar .menu { font-size: 14px; }
.sidebar .menu .item { border-bottom: 1px solid #eee; }
.sidebar .menu .item:last-child { border: 0; }
.sidebar .menu a { display: block; padding: 7px 0px 7px 25px; }
.sidebar .menu a.active { color: #ffcc00; }
	