.user.pagelet .profile { display: table-row; }
.user.pagelet .picture,
.user.pagelet .text { display: table-cell;  vertical-align: middle; }
.user.pagelet .text { font-weight: lighter; font-size: 0.8em; }
.user.pagelet .image {
	margin: 10px;
	height: 60px;
	width: 60px;
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.50), 0px -1px 1px 0px rgba(255,255,255,0.36);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), 0px -1px 1px 0px rgba(255,255,255,0.36);
	box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.50), 0px -1px 1px 0px rgba(255,255,255,0.36);	
}

.menu.pagelet { font-size: 14px; }
.menu.pagelet .item { border-bottom: 1px solid #eee; }
.menu.pagelet .item:last-child { border: 0; }
.menu.pagelet a { display: block; padding: 7px 0px 7px 25px; }
.menu.pagelet a.active { color: #ffcc00; }
	