html,
body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
		
	color: #004356;
	font-family: "Source Sans Pro", sans-serif;
	font-stretch: expanded;
}

#container,
#pusher,
#menu,
#content {
	height: 100%;
}

#container {
	position: relative;
	overflow: hidden;
}

#pusher {
	position: relative;
	left: 0;
	-webkit-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
	background: #f5f5f5 url(/assets/img/bb_pattern.png);
}
.menu-open #pusher {
	left: 80%;
}

#menu {
	position: absolute;
	top: 0;
	left: -80%;
	width: 80%;
	
	color: #fff;
	background: #004356 url(/assets/img/bb_pattern_blue.png);
}
#content {
	position: relative;
	overflow-y: scroll;
}
	
#content > .body { position: relative;	}
#content > .overlay {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	top: 60px; bottom: 0;
	left: 0; right: 0;
	
	background-color: rgba(45, 45, 45, 0.70);
}
.menu-open #content > .overlay {
	visibility: visible;
}

#content > .head {
	display: table;
	width: 100%;
	height: 60px;
	z-index: 1;
	
	color: white;
	box-shadow: 0px 1px 0px #cccccc;
	text-shadow: 0px 1px 0px #E0B43A;
	background-color: #f9d857;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9d857), color-stop(100%, #ffbf00));
	background-image: -webkit-linear-gradient(top, #f9d857, #ffbf00);
	background-image: -moz-linear-gradient(top, #f9d857, #ffbf00);
	background-image: -ms-linear-gradient(top, #f9d857, #ffbf00);
	background-image: -o-linear-gradient(top, #f9d857, #ffbf00);
	background-image: linear-gradient(top, #f9d857, #ffbf00);
}
#container.hidden-title-bar #content > .head {
	display: none;
}
#content > .head > div { display: table-cell; }

#content > .head .right-padding,
#content > .head .back-button,
#content > .head .menu-toggle { width: 70px; }

#content > .head .menu-toggle {
	background: url(/assets/img/menu_toggle.png) no-repeat center center;
}
#content > .head .title {
	text-align: center;
	font-size: 24px;
	padding-top: 14px;
}

a {
	color: inherit;
	text-decoration: none;	}