.signup { 
	padding: 10px;	
}
.signup .branding { 
	text-align: center;	
}

.signup .links,
.signup .signin-button-wrapper { 
	margin-top: 15px;	
}

.signup .links { 
	text-align: center; text-decoration: underline;	
}

.signup .button {
	display: block;
	margin: 15px 0;
}

.signup button.button {
	width: 100%;
}