<!DOCTYPE html>
<html>
	<head>
		<title>buddybeeper</title>
		<link rel="stylesheet" href="/_desktop/css/css.css" />
		<link rel="stylesheet" href="/_desktop/css/sidebar.css" />
		<link rel="stylesheet" href="/_desktop/css/home.css" />
		<link rel="stylesheet" href="/_desktop/css/feed.css" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
	</head>
	<body ng-app="buddybeeper" ng-controller="rootController">
		<div id="container">
			<div class="head">
				<div class="nav">
					<div class="nav-inner">
						<div class="company pull-left">
							<a href="/">buddybeeper</a>
						</div>
						<div class="user pull-right"></div>
					</div>
				</div>
			</div>
			<!-- @end head -->
			<div class="body" ng-class="{'side-bar-enabled':hasSideBar}">
				<div class="sidebar" ng-controller="sidebar" ng-if="isLoggedIn">
					<div class="user pagelet">
						<div class="profile">
							<div class="picture">
								<div class="image" style="background-image: url({{user.profile_image}});">
									<form method="post" target="pi_upload" action="http://api.buddybeeper.dev/test" enctype="multipart/form-data" ng-if="user.is_default_image">
										<input type="file" name="profile_image" onchange="this.parentNode.submit(); document.getElementById('pi_upload').onload = function(){window.location.reload();};" />
										<input type="hidden" name="access_token" value="{{accessToken}}" />
									</form>
									<iframe id="pi_upload" style="overflow: hidden; opacity: 0;" height="1" width="1"></iframe>
								</div>
							</div>
							<div class="text">
								<div class="name">{{user.first_name}} {{user.last_name}}</div>
							</div>
						</div>
						<div class="menu">
							<div class="item"><a ng-click="newEvent()">New Event</a></div>
							<div class="item"><a ng-click="logout()">Sign Out</a></div>
						</div>
					</div>
					<div class="menu pagelet links">
						<div class="item"><a href="/" class="active">Events</a></div>
					</div>
				</div>
				<!-- @end sidebar -->
				<div class="content" ng-view></div>
			</div>
			<!-- @end body -->
			<div class="foot"></div><!-- @end foot -->
		</div>
		<script type="text/javascript" charset="utf-8" src="/api_endpoint"></script>
		<script src="/assets/js/angular.min.js" type="text/javascript"></script>
		<script src="/assets/js/angular-route.min.js" type="text/javascript"></script>
		<script src="/_desktop/js/bootstrap.js" type="text/javascript"></script>
		<script src="/assets/js/factories.js" type="text/javascript"></script>
		<script src="/_desktop/js/home.js" type="text/javascript"></script>
		<script src="/_desktop/js/directives.js" type="text/javascript"></script>
		<script src="/_desktop/js/sidebar.js" type="text/javascript"></script>
	</body>
</html>