<html>
<head>
	<title>buddybeeper</title>
	<link rel="stylesheet" href="/_mobile/css/css.css" 		type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/_mobile/css/buttons.css" 	type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/_mobile/css/events.css" 	type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/_mobile/css/forms.css" 	type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/_mobile/css/menu.css" 		type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/_mobile/css/signup.css" 	type="text/css" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body ng-app="buddybeeper" ng-controller="rootController">
	<div id="container" ng-class="{'hidden-title-bar':!hasTitleBar, 'menu-open':menuOpen}">
		<div id="pusher">
			<div id="menu">
				<div class="user">
					<div class="image-wrapper">
						<img src="" alt="" />
					</div>
					<div class="name">Max M</div>
				</div>
				<div class="links">
					<a href="/events" class="active">Home</a>
					<a href="/">Logout</a>
				</div>
			</div><!-- @end #menu -->
			<div id="content">
				<div class="overlay" ng-click="showMenu(false)"></div><!-- @end .overlay -->
				<div class="head">
					<div class="menu-toggle back-button" ng-click="showMenu()"></div>
					<div class="title">{{title}}</div>
					<div class="right-padding"></div>
				</div><!-- @end .head -->
				<div class="body" ng-view></div><!-- @end .body -->
			</div><!-- @end #content -->
		</div><!-- @end #pusher -->
	</div><!-- @end #container -->
	<script type="text/javascript" charset="utf-8" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/js/angular-route.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/js/angular-touch.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/_mobile/js/bootstrap.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/js/factories.js"></script>
	<script type="text/javascript" charset="utf-8" src="/_mobile/js/home.js"></script>
</body>
</html>